* {
  box-sizing:border-box;
  margin:0;
  padding:0;
  max-width:100%; 
  }

body {
  background-color: #FDEDEC ;
  width: 80%;
  margin: auto;

}





h1, h2, h3, p {
  letter-spacing: 1.5px;
  padding-bottom: 1%;
}

h3 {
  font-size: 1rem;
}

.dark-mode__toggle {
  background: papayawhip;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle {
  background: #f68819;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 18px;
}


.dark-mode {
  color: #fff;
  background-color: #313843;
}

.playerCard {
  background-color: grey;
  padding: 1%;
  margin: 1%;
  width: 30%;
}

.cont {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}